{% extends "base.html" %}
{% block content %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-gray-900">Login to view, or write some interesting articles</h1>
      <p class="leading-relaxed mt-4">Poke slow-carb mixtape knausgaard, typewriter street art gentrify hammock starladder roathse. Craies vegan tousled etsy austin.</p>
    </div>
    <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign up</h2>
      <form method="POST" action= "{% url 'signup' %}">
      {% csrf_token %}
      <div class="relative mb-4">
        <label for="full-name" class="leading-7 text-sm text-gray-600">{{form.username.label_tag}}</label>
        {{form.username}}
      </div>
      <div class="relative mb-4">
        <label for="password" class="leading-7 text-sm text-gray-600">{{form.password1.label_tag}}</label>
        {{form.password1}}
      </div>
      <div class="relative mb-4">
        <label for="password" class="leading-7 text-sm text-gray-600">{{form.password2.label_tag}}</label>
        {{form.password2}}
      </div>
      <input type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" value="Let's go" >
      </form>
      <p class="text-xs text-gray-500 mt-3">forgot your password?</p>
    </div>
  </div>
</section>
{% endblock content %}
